@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #007AF3;
}

body {
  background: white;
  padding: 1em;
  margin: 0;
  font-family: 'Poppins';
  color: #007AF3;
}

img {
  border-radius: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8ba9d0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
}

.button {
  border-radius: 10px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #007AF3;
  color: white;
}