<div class="item3">
<section>
        <h1>Grafikkarten</h1>
      <p>
        Hier finden Sie eine Tabelle aktueller Bestseller im Bereich
        Grafikkarten.
      </p>
      <fieldset>
        <legend><b>Bestseller</b></legend>
        <table class="producttable">
          <tr>
            <td>
              <a
                href="https://www.caseking.de/MSI-GeForce-RTX-3060-Ti-Gaming-Z-Trio-8G-LHR-8192-MB-GDDR6-GCMC-294.html?tplview=desktop"
                >MSI RTX 3060 Ti</a
              >
            </td>
            <td>
              <img
                height="100"
                src="https://media.nbb-cdn.de/images/products/680000/686775/GV-N306TEAGLEOC-8GD-CandB.png?size=2800"
              />
            </td>
            <td>1410MHz, Boost: 1845MHz</td>
            <td>8GB GDDR6</td>
            <td>902,34€</td>
            <td><button type="button" class="button">Zu Favoriten hinzufügen</button></td>
            
            <td><button type="button" class="button">Kommentar hinzufügen</button></td>
          </tr>
          <tr>
            <td>
              <a
                href="https://www.acom-pc.de/Hardware-Software/Grafikkarten-Zubehoer/Grafikkarten-NVIDIA-PCI-Express/Gigabyte-AORUS-GeForce-RTX-3070-MASTER-8G-rev.-2.0-LHR-Grafikkarten-GF-RTX-3070-8-GB-GDDR6-PCIe-4.0-x16-3x-HDMI-3x-DisplayPort.html"
                >GIGABYTE RTX 3070</a
              >
            </td>
            <td>
              <img
                height="100"
                src="https://www.acom-pc.de/media/images/info/144881_0__2092241.jpg"
              />
            </td>
            <td>1500MHz, Boost: 1845MHz</td>
            <td>8GB GDDR6</td>
            <td>1.049,00€</td>
            <td><button type="button" class="button">Zu Favoriten hinzufügen</button></td>
            
            <td><button type="button" class="button">Kommentar hinzufügen</button></td>
          </tr>
          <tr>
            <td>
              <a
                href="https://www.caseking.de/Gigabyte-GeForce-RTX-3080-Gaming-OC-10G-LHR-10240-MB-GDDR6X-GCGB-403.html?flxSmartSuggest=1"
                >GIGABYTE GeForce RTX 3080</a
              >
            </td>
            <td>
              <img
                height="100"
                src="https://www.acom-pc.de/media/images/info/144878_0__2092099.jpg"
              />
            </td>
            <td>1440MHz, Boost: 1800MHz</td>
            <td>10GB GDDR6</td>
            <td>1.531,63€</td>
            <td><button type="button" class="button">Zu Favoriten hinzufügen</button></td>
           
            <td><button type="button" class="button">Kommentar hinzufügen</button></td>
          </tr>
        </table>
      </fieldset>
</section>
</div>