 <div class="item3">
 <section>
      <div class="grid-container">
        <div class="item1">
          <h1>Kontakt</h1>
          <p>
            Hier haben Sie die Möglichkeit über ein Formular mit uns in Kontakt
            zu treten. Wir freuen uns über Ihr Feedback!
          </p>
          <fieldset>
            <legend><b>Feedback</b></legend>
            <form>
              <p>
                <label for="lname">Name:</label>
                <input type="text" id="iname" name="iname" />
              </p>
              <p>
                <label for="lmail">E-Mail:</label>
                <input type="email" id="imail" name="imail" />
              </p>
              <p>
                <input type="text" id="itext" name="itext" />
                <button type="button" class="button">Senden</button>
              </p>
            </form>
          </fieldset>
        </div>
      </div>
    </section>
</div>