<div class="item3">
<section>
<fieldset>
<legend><b>Kommentare</b></legend>
<% if(account){ %>
  <% for(var artikel of Array.from(account[1].keys())){ %>
    <p><%=artikel%>:</p>
    <% for(var kommentar of account[1].get(artikel)){ %>
      <p><%=kommentar%></p>
    <% } %>
  <% } %>
<% } else{ %>  
  <p>Sie sind nicht angemeldet!</p>
<% } %>
</fieldset>
</section>