<div class="item3">
<section>     
          <h1>Prozessoren</h1>
          <p>
            Hier finden Sie eine Tabelle aktueller Bestseller im Bereich
            Prozessoren.
          </p>
        <div class="item3">
          <fieldset>
            <legend><b>Bestseller</b></legend>
            <table class="producttable">
              <tr>
                <td>
                  <a
                    href="https://www.caseking.de/amd-ryzen-9-5950x-3-4-ghz-vermeer-am4-boxed-ohne-kuehler-hpam-205.html"
                    >Ryzen 9 5950X</a
                  >
                </td>
                <td>
                  <img
                    height="100"
                    src="https://static3.caseking.de/media/image/thumbnail/hpam-205_hpam_205_01_800x800.jpg"
                  />
                </td>
                <td>3,4/4,9 GHz</td>
                <td>16</td>
                <td>105 Watt</td>
                <td>769,00€</td>
                <td><button type="button" class="button">Zu Favoriten hinzufügen</button></td>
                <td><button type="button" class="button">Kommentar hinzufügen</button></td>
              </tr>
              <tr>
                <td>
                  <a
                    href="https://www.mindfactory.de/product_info.php/Intel-Core-i9-12900KF-LGA1700-8C-8c-24T--3-20-5-30GHz-WOF_1429032.html"
                    >Intel Core i9-12900KF</a
                  >
                </td>
                <td>
                  <img
                    height="100"
                    src="https://image1280.macovi.de/images/product_images/1280/1429032_0__70952.jpg"
                  />
                </td>
                <td>3.20/5.30 GHz</td>
                <td>8+8</td>
                <td>125 Watt</td>
                <td>589,00€</td>
                <td><button type="button" class="button">Zu Favoriten hinzufügen</button></td>
                <td><button type="button" class="button">Kommentar hinzufügen</button></td>
              </tr>
              <tr>
                <td>
                  <a
                    href="https://www.mindfactory.de/product_info.php/AMD-Ryzen-Threadripper-PRO-3995WX-4-2Ghz-sWRX8-288MB-280W-WOF_1393351.html"
                    >AMD Ryzen Threadripper PRO 3995WX</a
                  >
                </td>
                <td>
                  <img
                    height="100"
                    src="https://image1280.macovi.de/images/product_images/1280/1393351_0__74920.jpg"
                  />
                </td>
                <td>2.70/4.20 GHz</td>
                <td>64</td>
                <td>280 Watt</td>
                <td>5.295,97€</td>
                <td><button type="button" class="button">Zu Favoriten hinzufügen</button></td>
                <td><button type="button" class="button">Kommentar hinzufügen</button></td>
              </tr>
            </table>
          </fieldset>
        </div>
</section>
</div>